<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Schemes</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">

        <h1>Government Schemes</h1>

        <div class="card">
            <h2>PM Kisan Samman Nidhi</h2>
            <p>Eligible farmers receive ₹6,000 financial support every year.</p>
        </div>

        <div class="card">
            <h2>Ayushman Bharat</h2>
            <p>Free health insurance up to ₹5 lakh per family.</p>
        </div>

        <div class="card">
            <h2>PM Awas Yojana</h2>
            <p>Financial support to build permanent houses.</p>
        </div>

        <div class="card">
            <h2>Skill India Mission</h2>
            <p>Free skill training and employment opportunities.</p>
        </div>

        <div class="card">
            <h2>Digital India</h2>
            <p>Online government services and digital facilities for citizens.</p>
        </div>

        <a href="index.html" class="back-btn">⬅ Back to Home</a>

    </div>

</body>

</html>